@font-face {
    font-family: "fzsxslkjt";
    src: url("fzsxslkjt.eot"); /* IE9 */
    src: url("fzsxslkjt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fzsxslkjt.svg#FZCuJinLFW") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
